<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/style.css">
    <title>Virtual Wardrobe</title>
</head>
<body>
      <header>
          <div class="principal">
              <nav class="logo"><img src="img/1-removebg-preview.png" alt="logo" width="155">
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Loja</a></li>
                    <li><a href="#">Sobre</a></li>
                    <button><a href="/views/catalogo.ejs"></a>Meus itens</button>
                </ul>
            </nav>
            <div class="sub-principal">
                <div class="texto">
                    <h2>O futuro é hoje, seja um VW e tenha <span class="typing"></span></h2>
                    <p>As maiores marcas do mundo de luxo disponiveis aqui na VW. Você também pode guardar,adquirir ou até mesmo trocar suas peças virtuais.</p>
                </div>
                <img src="/img/camisa_versace-removebg-preview.png" alt="camisa_versace">
            </div>
          </div>
      </header>
</body>
</html>