<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Virtual Wardrobe</title>
  </head>
  <body>
    <header>
      <div class="principal">
        <nav class="logo">
          <img src="img/1-removebg-preview.png" alt="logo" width="155" />
          <ul>
            <li><a href="#">Início</a></li>
            <li><a href="meus-itens">meus itens</a></li>
            <li><a href="#">Sobre</a></li>

            <a href="adicionar"><button>adicionar itens</button></a>
          </ul>
        </nav>
        <div class="sub-principal">
          <div class="texto">
            <h2>
              O futuro é hoje, seja um VW e tenha <span class="typing"></span>
            </h2>
            <p>
              As maiores marcas do mundo de luxo disponiveis aqui na VW. Você
              também pode guardar,adquirir ou até mesmo trocar suas peças
              virtuais.
            </p>
          </div>
          <img
            src="/img/camisa_versace-removebg-preview.png"
            alt="camisa_versace"
          />
        </div>
      </div>
    </header>
    <main>
        <section class="about" id="about">
            <div class="content">
              <div class="title-wrapper-about">
              </div>
              <div class="about-content">
                <div class="left">
                </div>
                <div class="right">
                  <h3>Bem-vindo a nova Maneira de guardar suas roupas!!</h3>
                  <p>
                    "A VW surgiu com o intuito de armazenar suas roupas e acessorios no mundo virtual, por aqui você consegue adicionar, editar e até mesmo apagar suas roupas e acessorios. Tudo isso fica armazenado em nossos servidores e bancos de dados com total segurança para manter suas peças e coisas armazenadas de maneira 100% segura. Nosso serviço é completamente gratuito, porém, aceitamos maneiras doações para nos manter sempre melhorando a experiencia para futuros e até mesmo antigos usuarios da nossa tecnologia. O futuro é feito do hoje. Faça parte do maior guarda-roupa virtual do mundo".
                  </p>
                  <p>JoabesueD</p>
                </div>
              </div>
            </div>
          </section>
    </main>

    <footer>
        <%- include('./componentes/footer') %>
    </footer>
  </body>
</html>
