<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/style.css">
    <title>Virtual Wardrobe</title>
</head>
<body>
      <header>
          <div class="principal">
              <nav class="logo"><img src="img/1-removebg-preview.png" alt="logo" width="155">
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="meus-itens.ejs">meus itens</a></li>
                    <li><a href="#">Sobre</a></li>

                    <a href="adicionar.ejs"><button>adicionar itens</button></a>

                </ul>
            </nav>
            <div class="sub-principal">
                <div class="texto">
                    <h2>O futuro é hoje, seja um VW e tenha <span class="typing"></span></h2>
                    <p>As maiores marcas do mundo de luxo disponiveis aqui na VW. Você também pode guardar,adquirir ou até mesmo trocar suas peças virtuais.</p>
                </div>
                <img src="/img/camisa_versace-removebg-preview.png" alt="camisa_versace">
            </div>
          </div>
      </header>
      <main>
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, dolorum libero suscipit molestias aliquid aperiam dolores illum nihil enim consequuntur laudantium? Reiciendis, voluptates eligendi animi minima nulla quasi blanditiis sit ipsam adipisci accusamus, quae vitae. Asperiores, accusamus inventore aperiam ipsa, quam dicta deleniti suscipit, in delectus dolorem debitis exercitationem iusto vel neque reiciendis error cum. Quo doloremque, ipsam dolor numquam magni provident corporis nisi consequuntur, adipisci, debitis libero accusamus corrupti explicabo rerum nihil sed vel nam voluptas vero quasi? Perspiciatis quo ratione, minima eligendi illo nisi veritatis odio cupiditate soluta rerum perferendis cum molestiae, nihil iste tempora quisquam cumque culpa molestias. Aut, voluptate accusantium quas ab doloremque ipsum quis molestiae natus aliquid similique ducimus. Atque laudantium labore incidunt nemo beatae earum tempora eum fuga! Modi, fuga unde alias repellendus vero error commodi molestias repellat fugit? Praesentium explicabo fugiat alias doloremque unde laudantium quidem numquam? Explicabo eaque, dolor error recusandae ullam hic voluptatem ratione distinctio consectetur eum saepe, aliquid magnam perferendis reiciendis cumque expedita dolorum voluptates incidunt nesciunt similique labore? Natus cum iste fugit veritatis inventore necessitatibus voluptatibus quisquam atque nesciunt est facere, fugiat doloremque autem placeat sed quis amet asperiores. Deleniti distinctio illo expedita! Mollitia pariatur nemo voluptatem omnis reprehenderit, reiciendis consequatur aliquid ab velit sapiente rem. Quia sunt, exercitationem quam corrupti totam atque quaerat et quae qui, culpa cupiditate nihil repudiandae necessitatibus mollitia ipsum. Nam necessitatibus voluptates qui deleniti?</h1>
      </main>
      <footer> <p>Todos os direitos reservados para <a href="https://github.com/joabesued" target="_blank">JoabesueD.</a></p> </footer>
</body>
</html>