<section class="modal-overlay" id="ovarlay">
    <div class="modal" id="modal">
        <div class="modal-header">
            <h3>Remover item</h3>
            <a href="/meus-itens" id="close-modal-put">X</a>
        </div>

        <div class="modal-body">
           <p>Tem certeza que deseja excluir o item <%= itensDel.nome %>?</p>
           <div id="btns-del">
               <a id="no" href="/meus-itens">Não</a>
               <a id="yes" href="/remove/<%= itensDel.id %>">Sim</a>
           </div>
        </section>
        </div>

    </div>
</section>