
  <div class="principal">
    <nav class="logo"><a href="http://localhost:3001/"><img src="img/1-removebg-preview.png" alt="logo" width="155"></a>
      <ul>
          <li><a href="http://localhost:3001/">Início</a></li>
          <li><a href="">Meus itens</a></li>
          <li><a href="">Sobre</a></li>

          <a href="/adicionar"><button>adicionar itens</button></a>
      </ul>
  </nav>
</div>


